.registerApp {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.registerInputs {
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    height: 35px;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    padding-left: 5px;
    border-radius: 2px;
}

.registerInputs:focus {
    outline: none;
}

.registerButton {
    width: 45%;
    height: 30px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -3px;
    border-radius: 7px;
    cursor: pointer;
}

.registerButton:focus {
    outline: none;
}

.registerButton:active {
    border-color: black;
}

.registerButton:hover {
    background: #f3f3f3;
}

.passText {
    margin-bottom: 17px;
    margin-top: -15px;
    font-size: 10px;
}

.registerRegi {
    font-size: 35px;
    margin: auto;
}