.headerApp {
    /* text-align: center; */
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    cursor: pointer;
    opacity: .5;
}

.header {
    background: #0c814a;
    height: 50px;
    justify-content: flex-start;
}