.topHalfHomePage {
    display: flex;
}

.findFriendsHomePage {
    margin: auto;
    margin-top: 10px;
    width: 150px;
    height: 350px;
    border-style: solid;
    border-radius: 15px;
}

.imageHomePage {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
}