.loginInputDiv {
    width: 100%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.loginLink {
    text-decoration: none;
    font-size: 10px;
}

.loginInput {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 60%;
    height: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 5px;
}

.loginInput:focus {
    outline: none;
    border-color: black;
    border-width: 2px;
}

.loginButton {
    width: 25%;
    margin: auto;
}

.loginPTag {
    margin-bottom: -10px;
    margin-left: -250px;
}