.loginInputDiv {
    margin: auto;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.loginLink {
    text-decoration: none;
    font-size: 10px;
}

.loginInput {
    margin-bottom: 10px;
    height: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

.loginInput:focus {
    outline: none;
    border-color: black;
    border-width: 2px;
}