.createNewFlex {
    display: flex;
    justify-content: center;
    text-align: center;
}

.createNewApp {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.createNewDisplay {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.img {
    width: 150px;
    height: 150px;
}

.createNewInputs {
    width: 200px;
    height: 20px;
    padding-left: 5px;
    margin-bottom: 7px;
    border-style: solid;
    border-width: .5px;
    border-color: #c7c5c5;
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
}

.createNewInputs:focus {
    outline: none;
    border-color: black;
}

.createNewOptions {
    /* font-family: monospace;
    font-weight: 600;
    width: 200px;
    height: 20px; */
}

.createNewSelect {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: black;
    border: 1px solid #ccc;
    height: 25px;
    padding: 5px;
    margin-bottom: 15px;
    background: white;
    border-radius: 0px !important;
}

.createNewSelect:focus {
    outline: none;
}

.createNewSubmitButton {
    width: 35%;
    height: 25px;
    margin-top: 32px;
    margin-left: 10px;
    background: none;
    border-radius: 5px;
}

.createNewSubmitButton:focus {
    outline: none;
}

.createNewClearButton {
    width: 35%;
    height: 25px;
    margin-top: 32px;
    background: none;
    border-radius: 5px;
}

.createNewClearButton:focus {
    outline: none;
}

.createNewbtnDiv {
    margin-top: -25px;
    justify-content: center;
    display: flex;
}

.itemPriceDiv {
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

.imageContainer {
    width: 200px;
    margin: auto;
    margin-top: 3px;
}