.createNewItemApp {
    text-align: center;
}

.inputsNewItemsPage {
    display: flex;
    flex-direction: column;
}

.inputNewItemPage {
    margin: auto;
    margin-top: 5px;
    width: 30%;
    height: 15px;
    padding-left: 2px;
}

.inputNewItemPage:focus {
    text-align: right;
}

.buttonNewItemPage {
    width: 45px;
    margin: auto;
}