.headerApp {
    width: 75px;
    min-height: 650px;
    background: #2b518a;
    transition-delay: 500ms;
}

.headerApp:hover {
    transition-delay: 200ms;
    width: 175px;
}

.headerLinksHidden {
    transition-delay: 200ms;
    opacity: 0;
    width: 100px;
    min-height: 650px;
}

.headerLinksHidden:hover {
    transition-delay: 200ms;
    opacity: 1;
    min-height: 650px;
    width: 175px;
    display: flex;
    flex-direction: column;
}

.link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    min-height: 25px;
    width: 150px;
    background: radial-gradient(#ffffff8f 5%, #2b518a8a 75%, #2b518a 20%)
}