.App {
    text-align: center;
    width: 100%;
}

.flexFlex {
    width: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.sideBySide {
    display: flex;
}

.head {
    text-align: right;
}